::ng-deep app-order-table-listing {
  display: flex;
}

::ng-deep mat-sidenav-content {
  overflow-y: auto !important;
}

table {
  width: 100%;
  min-width: 600px;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

td,
th {
  width: 25%;
}

th.mat-header-cell:last-of-type,
td.mat-cell:last-of-type,
td.mat-footer-cell:last-of-type {
  padding-right: 0px;
}

.header-align-right {
  display: flex;
  padding: 21px 0;
  justify-content: flex-end;
}

::ng-deep .order-listing-component .mat-paginator-container {
  justify-content: flex-start !important;
}

.div-table-orders {
  margin-top: 20px;
  transition: all 0.3s ease 0s;
  width: 100%;
  flex-direction: column;
  align-items: center;
  display: flex;

  .table-details {
    max-height: calc(99vh - 140px);
    overflow: auto;
    max-width: 1300px;
    width: 100%;

    table {
      max-width: 1300px;
      box-shadow: 0px 0px 8px -4px #777777;
    }
  }
}

.div-paginator-orders {
  position: -webkit-sticky;
  position: sticky;
  bottom: 0;
  width: 100%;
  display: contents;
  box-shadow: 0px 0px 8px -4px #777777;
}

mat-paginator {
  width: 100%;
  max-width: 1300px;
}

.mat-column-number,
.mat-column-createdAt,
.mat-column-deliverydate,
.mat-column-address,
.mat-column-totalValue {
  word-wrap: break-word !important;
  white-space: unset !important;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.mat-column-number {
  flex: 0 0 10% !important;
  width: 10% !important;
}

.mat-column-createdAt {
  flex: 0 0 15% !important;
  width: 15% !important;
}

.mat-column-deliverydate {
  flex: 0 0 15% !important;
  width: 15% !important;
}

.mat-column-address {
  flex: 0 0 40% !important;
  width: 40% !important;
}

.mat-column-totalValue {
  flex: 0 0 15% !important;
  width: 15% !important;
}

.mat-paginator {
  position: -webkit-sticky;
  position: sticky;
  bottom: 0;
}

tr.example-detail-row {
  height: 0;
  background-color: #f7f7f7;

  td {
    padding-left: 0 !important;
  }
}

.td-actions {
  cursor: pointer;
  color: #7f24ff;
}

.delivery-team-details-card {
  padding: 5px 10px;
  background: #2459ff38;
  display: flex;
  flex-direction: column;
}

tr.elemento-tr-row:not(.example-expanded-row):hover {
  background: whitesmoke;
}

tr.elemento-tr-row:not(.example-expanded-row):active {
  background: #efefef;
}

.element-detail-table {
  overflow: hidden;
  display: flex;
}

.elemento-description {
  color: #656565;
  font-size: 14px;
  line-height: 20px;
  flex-direction: column;
  width: 100%;
}

.products-details {
  display: flex;
  flex-flow: wrap;
  justify-content: flex-start;

  .product-card {
    padding: 5px 10px;
    border-radius: 5px;
    box-shadow: 0px 0px 8px -4px #777777;
    margin: 5px;
    background-color: white;
    display: flex;
    justify-content: flex-start;
    line-height: initial;
    max-width: 150px;

    div {
      display: flex;
      justify-content: space-between;
      width: 100%;
    }

    .left-side-card {
      margin-right: 5px;
      margin-left: -3px;
      font-size: 25px;
      min-width: 15px;
      display: flex;
      flex-direction: column;
      align-content: space-between;
      width: initial;
      line-height: 1;
    }

    .product-name {
      overflow: hidden;
      -webkit-line-clamp: 2;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      font-size: 13px;
    }

    .product-description {
      font-size: 11px;
      color: #848484;
      overflow: hidden;
      -webkit-line-clamp: 2;
      display: -webkit-box;
      -webkit-box-orient: vertical;
    }

    .sale-icon {
      font-size: 18px;
      width: 18px;
      height: 16px;
      color: #1bc5bd;
    }
  }
}

@media screen and (max-width: 670px) {
  .div-table-orders {
    align-items: flex-start;
  }
}
