<div class="chart-area">
  <ejs-chart [primaryXAxis]="primaryXAxis" [title]="'Qtd. de pedidos x qtd. entrega no ano'" [tooltip]="tooltip"
    [legendSettings]="legendSettings">
    <e-series-collection>
      <e-series [dataSource]="chartData" type="Column" xName="year" yName="gold" name="Gold" legendShape="Circle">
      </e-series>
      <e-series [dataSource]="chartData" type="Line" xName="year" yName="silver" name="Silver" legendShape="Circle">
      </e-series>
    </e-series-collection>
  </ejs-chart>
</div>
