.chart-area {
  overflow: auto;
  display: flex;
  margin-top: 20px;
  justify-content: center;

  ejs-chart {
    width: 100%;
    max-width: 1300px;
    box-shadow: 0px 0px 8px -4px #777777;
    min-width: 600px;
  }
}

@media screen and (max-width: 670px) {
  .chart-area {
    justify-content: flex-start;
  }
}
